{{!-- Blog Archive Template --}}
<div class="blog-archive">
  <div class="archive-header">
    <h1>{{pageTitle}}</h1>
    {{#if page.excerpt}}
      <p class="archive-description">{{page.excerpt}}</p>
    {{/if}}
  </div>

  {{#if collectionItems}}
    {{#each (groupBy collectionItems 'frontmatter.date' 'year')}}
      <section class="archive-year">
        <h2 class="year-heading">{{@key}}</h2>
        
        {{#each (groupBy this 'frontmatter.date' 'month')}}
          <div class="archive-month">
            <h3 class="month-heading">{{formatDate @key format="MMMM"}}</h3>
            
            <ul class="archive-posts">
              {{#each this}}
                <li class="archive-post">
                  <article>
                    <time datetime="{{frontmatter.date}}" class="post-date">
                      {{formatDate frontmatter.date format="MMM d"}}
                    </time>
                    
                    <div class="post-info">
                      <h4 class="post-title">
                        <a href="{{getUrl this}}">{{frontmatter.title}}</a>
                      </h4>
                      
                      {{#if frontmatter.excerpt}}
                        <p class="post-excerpt">{{frontmatter.excerpt}}</p>
                      {{/if}}
                      
                      {{#if frontmatter.categories}}
                        <div class="post-categories">
                          {{#each frontmatter.categories}}
                            <span class="category-tag">{{this}}</span>
                          {{/each}}
                        </div>
                      {{/if}}
                    </div>
                  </article>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/each}}
      </section>
    {{/each}}
  {{else}}
    <div class="no-archive-posts">
      <p>No posts in the archive.</p>
    </div>
  {{/if}}
</div>