{{!-- Portfolio Grid Template --}}
<div class="portfolio-grid">
  <div class="portfolio-header">
    <h1>{{pageTitle}}</h1>
    {{#if page.excerpt}}
      <p class="portfolio-description">{{page.excerpt}}</p>
    {{/if}}
  </div>

  {{#if collectionItems}}
    <div class="projects-grid {{#if displayOptions.columns}}grid-{{displayOptions.columns}}{{else}}grid-three{{/if}}">
      {{#each collectionItems}}
        {{> project-card this}}
      {{/each}}
    </div>
  {{else}}
    <div class="no-projects">
      <p>No projects found.</p>
    </div>
  {{/if}}
</div>