{{! layouts/page/page.hbs }}

{{#if contentFile.frontmatter.banner_image}}
    <div class="mb-6 -mx-6">
        {{{image fieldname="banner_image" class="w-full h-72 object-cover rounded-lg" alt=contentFile.frontmatter.title}}}
    </div>
{{/if}}

<article class="max-w-4xl prose prose-lg">
    <h1>{{contentFile.frontmatter.title}}</h1>
    {{#if contentFile.frontmatter.description}}
        <p class="text-xl text-muted">{{contentFile.frontmatter.description}}</p>
    {{/if}}

    {{#if contentFile.frontmatter.featured_image}}
        <div class="mb-6">
            {{{image fieldname="featured_image" class="w-full rounded-lg" alt=contentFile.frontmatter.title}}}
        </div>
    {{/if}}

    {{{content}}}

    {{#if contentFile.frontmatter.layoutConfig}}
        <hr class="my-8"/>
        {{{render_collection contentFile.frontmatter.layoutConfig}}}
    {{/if}}
</article>