{{!
  Template for the blog listing page
}}
    <div class="min-w-0  px-4 py-16 flex lg:pr-0 lg:pl-8 xl:pl-10">
        <article>
{{#if contentFile.frontmatter.title}}
                <header class="mb-9 space-y-1">
                    <h1 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white">
                        {{contentFile.frontmatter.title}}
                    </h1>
                    {{#if contentFile.frontmatter.description}}
                        <p class="text-xl text-slate-500 dark:text-slate-400">{{contentFile.frontmatter.description}}</p>
                    {{/if}}
                </header>
            {{/if}}

            {{#if contentFile.frontmatter.featured_image}}
                <div class="mb-8">
                    {{{image fieldname="featured_image" class="w-full rounded-lg" alt=contentFile.frontmatter.title}}}
                </div>
            {{/if}}

            <div class="prose max-w-none">
                {{{content}}}
            </div>

            {{#if contentFile.frontmatter.layoutConfig}}
                <hr class="my-8 border-gray-200"/>
                {{{render_collection contentFile.frontmatter.layoutConfig}}}
            {{/if}}

    {{#if collectionItems}}
        <div class="space-y-8">
            {{! Loop through each item provided by the page resolver }}
            {{#each collectionItems}}
                {{! Render a partial for the item using its layout's partials }}
                {{! The itemLayoutId is provided by the render service based on the collection's defaultItemLayout }}
                {{#if ../itemLayoutId}}
                    {{#if ../contentFile.frontmatter.layoutConfig.displayType}}
                        {{> (concat ../itemLayoutId "/partials/" ../contentFile.frontmatter.layoutConfig.displayType) this}}
                    {{else}}
                        {{> (concat ../itemLayoutId "/partials/card") this}}
                    {{/if}}
                {{else}}
                    <p class="text-red-500">Error: Item layout not configured for this collection</p>
                {{/if}}
            {{/each}}
        </div>

        {{! Render the pagination controls if pagination data is available }}
        {{#if pagination}}
            <div class="mt-16 flex justify-center">
                {{{pager pagination}}}
            </div>
        {{/if}}
    {{else}}
        <div class="text-center py-16">
            <p class="text-lg text-slate-500 dark:text-slate-400">No blog posts have been published yet.</p>
        </div>
    {{/if}}
    </article>
</div>