{{! layouts/page/page.hbs }}

{{#if images.banner}}
        <div class="">
            <img src="{{images.banner.url}}"  class="w-full h-72 cover bg-center" alt="{{contentFile.frontmatter.title}} banner">
        </div>
    {{/if}}
<article class="max-w-4xl mx-auto px-4 py-8 lg:px-8">
    {{!-- 
      Display a wide banner image at the top of the article if it exists.
      We use the `{{{image}}}` helper to generate the full <img> tag.
      `crop='scale'` will resize it to fit the width without distortion.
    --}}
   <div class="mw7 center">
    
    <h1>{{contentFile.frontmatter.title}}</h1>

    {{#if images.featured}}
        <figure class="featured-image-wrapper">
            <img src="{{images.featured.url}}" width="{{images.featured.width}}" height="{{images.featured.height}}" class="db center" alt="{{contentFile.frontmatter.title}}">
        </figure>
    {{/if}}
    

    <p class="f4">{{contentFile.frontmatter.description}} </p>
    
    {{!-- Render processed content (markdown + directives converted to HTML) --}}
    {{{content}}}

    </div>

    {{#if contentFile.frontmatter.layoutConfig}}
        <hr/>
        {{{render_collection contentFile.frontmatter.layoutConfig}}}
    {{/if}}
</article>