{{!-- Documentation Sidebar Navigation --}}
<nav 
  class="sidebar"
  :class="sidebarOpen ? 'mobile-open' : ''"
>
  {{!-- Close button for mobile --}}
  <button 
    class="sidebar-close"
    @click="sidebarOpen = false"
    aria-label="Close navigation"
  >
    <svg width="20" height="20" fill="currentColor" viewBox="0 0 20 20">
      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
    </svg>
  </button>

  {{!-- Navigation tree --}}
  <div class="pa3">
    {{#each navLinks}}
      {{#if this.children}}
        {{!-- Parent item with children --}}
        <div class="mb2">
          <div class="flex items-center justify-between pa1 br2 hover-bg-black-05">
            <a 
              href="{{this.href}}" 
              class="flex-auto link color-inherit no-underline b f5"
              :class="isActive('{{this.href}}') ? 'nav-active' : ''"
              @click="sidebarOpen = false"
            >
              {{this.label}}
            </a>
            <button
              class="bn bg-transparent pointer br2 hover-bg-black-10 transition-transform"
              :class="expandedSections.includes('{{@index}}') ? 'nav-toggle-expanded' : ''"
              @click="toggleSection('{{@index}}')"
              type="button"
              aria-label="Toggle {{this.label}} submenu"
            >
              <svg class="w1 h1" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 111.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          
          {{!-- Children --}}
          <div 
            class="ml2 bl bw2 b--transparent"
            x-show="expandedSections.includes('{{@index}}')"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 -translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 -translate-y-1"
            style="border-color: var(--color-borders);"
          >
            {{#each this.children}}
            <a 
              href="{{this.href}}" 
              class="db pv1 pl2 link color-inherit no-underline hover-bg-black-05 br2 f5 mb1"
              :class="isActive('{{this.href}}') ? 'nav-active' : ''"
              @click="sidebarOpen = false"
            >
              {{this.label}}
            </a>
            {{/each}}
          </div>
        </div>
      {{else}}
        {{!-- Single item without children --}}
        <div class="mb2">
          <a 
            href="{{this.href}}" 
            class="db pa1 b link color-inherit no-underline hover-bg-black-05 br2 f5"
            :class="isActive('{{this.href}}') ? 'nav-active' : ''"
            @click="sidebarOpen = false"
          >
            {{this.label}}
          </a>
        </div>
      {{/if}}
    {{/each}}
  </div>
</nav>

{{!-- Mobile backdrop --}}
<div 
  class="mobile-backdrop"
  :class="sidebarOpen ? 'active' : ''"
  x-show="sidebarOpen"
  @click="sidebarOpen = false"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-200"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
></div>