{{!-- Left sidebar navigation --}}
<nav 
  class="sidebar fixed left-0 top-0 vh-100 overflow-y-auto z-3 dn db-l"
  style="width: var(--sidebar-width); background-color: var(--color-sidebar); margin-top:60px;"
>
  {{!-- Site title/logo --}}
  <div class="pa3">
    <h1 class="ma0 f4 fw6">
      <a href="{{#if options.isExport}}./{{else}}/{{/if}}" class="link color-inherit no-underline">
        {{manifest.title}}
      </a>
    </h1>
  </div>

  {{!-- Navigation tree --}}
  <div class="ph3 pv2">
    {{#each navLinks}}
      {{#if this.children}}
        {{!-- Parent item with children --}}
        <div class="mb3">
          <div 
            class="nav-parent flex items-center justify-between pa2 hover-bg-black-05 br2"
          >
            <a 
              href="{{this.href}}" 
              class="flex-auto link color-inherit no-underline fw5"
              :class="isActive('{{this.href}}') ? 'nav-active' : ''"
            >
              {{this.label}}
            </a>
            <button
              @click="toggleSection('{{@index}}')"
              class="pa1 bn bg-transparent pointer hover-bg-black-10 br2"
              type="button"
              aria-label="Toggle submenu"
            >
              <svg 
                class="w1 h1 transition-transform"
                :class="expandedSections.includes('{{@index}}') ? 'rotate-90' : ''"
                fill="currentColor" 
                viewBox="0 0 20 20"
              >
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 111.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
          
          {{!-- Children --}}
          <div 
            class="nav-children ml3 mt2"
            x-show="expandedSections.includes('{{@index}}')"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 transform -translate-y-1"
            x-transition:enter-end="opacity-100 transform translate-y-0"
          >
            {{#each this.children}}
            <a 
              href="{{this.href}}" 
              class="nav-child db pa2 pl3 link color-inherit no-underline hover-bg-black-05 br2"
              :class="isActive('{{this.href}}') ? 'nav-active' : ''"
            >
              {{this.label}}
            </a>
            {{/each}}
          </div>
        </div>
      {{else}}
        {{!-- Single item without children --}}
        <div class="mb2">
          <a 
            href="{{this.href}}" 
            class="nav-item db pa2 link color-inherit no-underline hover-bg-black-05 br2 fw5"
            :class="isActive('{{this.href}}') ? 'nav-active' : ''"
          >
            {{this.label}}
          </a>
        </div>
      {{/if}}
    {{/each}}
  </div>
</nav>

{{!-- Mobile sidebar overlay --}}
<div 
  class="sidebar-mobile fixed left-0 top-0 vh-100 w-100 z-4 dn-l"
  x-show="sidebarOpen"
  x-transition:enter="transition ease-out duration-300"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
>
  {{!-- Backdrop --}}
  <div 
    class="absolute top-0 left-0 w-100 h-100 bg-black-50"
    @click="sidebarOpen = false"
  ></div>
  
  {{!-- Mobile sidebar content --}}
  <nav 
    class="absolute left-0 top-0 vh-100 overflow-y-auto"
    style="width: var(--sidebar-width); background-color: var(--color-sidebar);"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="transform -translate-x-100"
    x-transition:enter-end="transform translate-x-0"
  >
    {{!-- Site title/logo with close button --}}
    <div class="pa4 bb b--black-10 flex items-center justify-between">
      <h1 class="ma0 f4 fw6">
        <a href="{{#if options.isExport}}./{{else}}/{{/if}}" class="link color-inherit no-underline">
          {{manifest.title}}
        </a>
      </h1>
      <button 
        class="pa2 bn bg-transparent pointer"
        @click="sidebarOpen = false"
        aria-label="Close navigation"
      >
        <svg class="w1 h1" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    {{!-- Navigation tree (same as desktop) --}}
    <div class="pa3">
      {{#each navLinks}}
        {{#if this.children}}
          {{!-- Parent item with children --}}
          <div class="mb3">
            <div 
              class="nav-parent flex items-center justify-between pa2 hover-bg-black-05 br2"
            >
              <a 
                href="{{this.href}}" 
                class="flex-auto link color-inherit no-underline fw5"
                :class="isActive('{{this.href}}') ? 'nav-active' : ''"
                @click="sidebarOpen = false"
              >
                {{this.label}}
              </a>
              <button
                @click="toggleSection('mobile-{{@index}}')"
                class="pa1 bn bg-transparent pointer hover-bg-black-10 br2"
                type="button"
                aria-label="Toggle submenu"
              >
                <svg 
                  class="w1 h1 transition-transform"
                  :class="expandedSections.includes('mobile-{{@index}}') ? 'rotate-90' : ''"
                  fill="currentColor" 
                  viewBox="0 0 20 20"
                >
                  <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 111.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                </svg>
              </button>
            </div>
            
            {{!-- Children --}}
            <div 
              class="nav-children ml3 mt2"
              x-show="expandedSections.includes('mobile-{{@index}}')"
              x-transition:enter="transition ease-out duration-200"
              x-transition:enter-start="opacity-0 transform -translate-y-1"
              x-transition:enter-end="opacity-100 transform translate-y-0"
            >
              {{#each this.children}}
              <a 
                href="{{this.href}}" 
                class="nav-child db pa2 pl3 link color-inherit no-underline hover-bg-black-05 br2"
                :class="isActive('{{this.href}}') ? 'nav-active' : ''"
                @click="sidebarOpen = false"
              >
                {{this.label}}
              </a>
              {{/each}}
            </div>
          </div>
        {{else}}
          {{!-- Single item without children --}}
          <div class="mb2">
            <a 
              href="{{this.href}}" 
              class="nav-item db pa2 link color-inherit no-underline hover-bg-black-05 br2 fw5"
              :class="isActive('{{this.href}}') ? 'nav-active' : ''"
              @click="sidebarOpen = false"
            >
              {{this.label}}
            </a>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </nav>
</div>