{{!
  Partial for a single blog post card using SparkType Design System utilities.
  'this' refers to one item from the `collectionItems` array.
}}
<article class="border-b border-gray-200">

    <div class="md:grid md:grid-cols-3 gap-6 pb-8">
        {{#if this.frontmatter.featured_image}}

            <a href="{{this.url}}">
                {{{image
                    fieldname="featured_image"
                    preset="thumbnail"
                    alt=this.frontmatter.title
                    class="w-full rounded-lg"
                }}}
            </a>
        {{/if}}


     <div class="flex flex-col h-full col-span-2">
        <h2 class=" text-2xl mt-0 mb-2 leading-tight"><a href="{{this.url}}" class="" > {{this.frontmatter.title}} </a></h2>

        <p class="text-sm text-gray-500 mb-3">{{formatDate this.frontmatter.date}}</p>

        {{#if this.frontmatter.description}}
            <p class="text-text mb-4 font-lg flex-1">
                {{this.frontmatter.description}}
            </p>
        {{/if}}

        <a href="{{this.url}}" class="inline-flex items-center text-primary font-medium hover:underline transition-colors duration-200 mt-auto">
            Read More
            <span class="ml-1">→</span>
        </a>
    </div>

        

    </div>
   

   
</article>