{{!-- Project Tile Partial (for masonry layout) --}}
<article class="project-tile">
  {{#if frontmatter.featured_image}}
    <div class="tile-image">
      <a href="{{getUrl this}}">
        {{image frontmatter.featured_image alt=frontmatter.title width=300 crop="fit"}}
      </a>
    </div>
  {{/if}}
  
  <div class="tile-content">
    <h4 class="tile-title">
      <a href="{{getUrl this}}">{{frontmatter.title}}</a>
    </h4>
    
    {{#if frontmatter.client}}
      <p class="tile-client">{{frontmatter.client}}</p>
    {{/if}}
    
    {{#if content}}
      <p class="tile-excerpt">{{truncate (stripHtml content) 80}}</p>
    {{/if}}
    
    <div class="tile-footer">
      {{#if frontmatter.year}}
        <span class="tile-year">{{frontmatter.year}}</span>
      {{/if}}
      
      {{#if frontmatter.technologies}}
        <div class="tile-tech">
          {{#each (slice frontmatter.technologies 0 3)}}
            <span class="mini-tech-tag">{{this}}</span>
          {{/each}}
          {{#if (gt frontmatter.technologies.length 3)}}
            <span class="tech-more">+{{subtract frontmatter.technologies.length 3}}</span>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</article>