{{!
  Partial for a single blog post card.
  'this' refers to one item from the `collectionItems` array.
}}
<article class="post-card flex flex-column">
    {{#if this.frontmatter.featured_image}}
        <a href="{{getCollectionItemUrl this}}" class="block">
            {{{image src=this.frontmatter.featured_image alt=this.frontmatter.title class="post-card-image"}}}
        </a>
    {{/if}}

    <div class="post-card-content">
        <h3 class="post-card-title">
            <a href="{{getCollectionItemUrl this}}">{{this.frontmatter.title}}</a>
        </h3>
        <p class="post-card-date">
            {{formatDate this.frontmatter.date}}
        </p>
        {{#if this.frontmatter.excerpt}}
            <p class="post-card-excerpt">
                {{this.frontmatter.excerpt}}
            </p>
        {{/if}}
        <a href="{{getCollectionItemUrl this}}" class="post-card-link">Read More →</a>
    </div>
</article>