{{!
  Partial for a single blog post card.
  'this' refers to one item from the `collectionItems` array.
}}
<article class="post-card flex flex-column">
    {{#if this.frontmatter.featured_image}}
        <a href="{{getCollectionItemUrl this}}" class="block">
            {{{image src=this.frontmatter.featured_image alt=this.frontmatter.title class="post-card-image"}}}
        </a>
    {{/if}}

    <div class="post-card-content">
        <h3 class="post-card-title" style="color: var(--color-headings); font-family: var(--font-headings);">
            <a href="{{getCollectionItemUrl this}}" class="post-card-title-link">{{this.frontmatter.title}}</a>
        </h3>
        <p class="post-card-date" style="color: var(--color-text); opacity: 0.7; font-family: var(--font-text);">
            {{formatDate this.frontmatter.date}}
        </p>
        {{#if this.frontmatter.excerpt}}
            <p class="post-card-excerpt" style="color: var(--color-text); font-family: var(--font-text);">
                {{this.frontmatter.excerpt}}
            </p>
        {{/if}}
        <a href="{{getCollectionItemUrl this}}" class="post-card-link" style="color: var(--color-primary); font-family: var(--font-text);">Read More →</a>
    </div>
</article>