{{! layouts/page/page.hbs }}

{{#if contentFile.frontmatter.banner_image}}
    <div class="">
        {{{image fieldname="banner_image" class="w-full h-72 object-cover bg-center" alt=contentFile.frontmatter.title}}}
    </div>
{{/if}}
<div class="max-w-4xl mx-auto px-4 py-8 lg:px-8 mt-12">

<article class="max-w-none prose prose-lg">
    <h1>{{contentFile.frontmatter.title}}</h1>
    <p class="text-2xl font-headings">{{contentFile.frontmatter.description}} </p>

    {{#if contentFile.frontmatter.featured_image}}
        <div class="mb-6">
            {{{image fieldname="featured_image" class="w-full" alt=contentFile.frontmatter.title}}}
        </div>
    {{/if}}
    
    {{{content}}}

    {{#if contentFile.frontmatter.layoutConfig}}
        <hr/>
        {{{render_collection contentFile.frontmatter.layoutConfig}}}
    {{/if}}
</article>
    </div>
