{{! src/partials/head.hbs }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{pageTitle}} | {{manifest.title}}</title>
<link rel="canonical" href="{{canonicalUrl}}">

{{!-- Description Meta Tag --}}
{{#if contentFile.frontmatter.description}}
    <meta name="description" content="{{contentFile.frontmatter.description}}">
{{else if collectionNode.description}}
    <meta name="description" content="{{collectionNode.description}}">
{{else}}
    <meta name="description" content="{{manifest.description}}">
{{/if}}

{{!-- Open Graph Tags (for Facebook, LinkedIn, etc.) --}}
<meta property="og:title" content="{{pageTitle}}">
{{#if contentFile.frontmatter.description}}
    <meta property="og:description" content="{{contentFile.frontmatter.description}}">
{{else}}
    <meta property="og:description" content="{{manifest.description}}">
{{/if}}
<meta property="og:url" content="{{canonicalUrl}}">
<meta property="og:site_name" content="{{manifest.title}}">
<meta property="og:type" content="{{#if contentFile}}article{{else}}website{{/if}}">

{{!-- Twitter Card Tags --}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{pageTitle}}">
{{#if contentFile.frontmatter.description}}
    <meta name="twitter:description" content="{{contentFile.frontmatter.description}}">
{{else}}
    <meta name="twitter:description" content="{{manifest.description}}">
{{/if}}

{{#if contentFile.frontmatter.featured_image}}
    <meta property="og:image" content="{{image_url src=contentFile.frontmatter.featured_image width=1200 height=630 crop='fill'}}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:image" content="{{image_url src=contentFile.frontmatter.featured_image width=1200 height=630 crop='fill'}}">
{{/if}}


{{!-- Favicon Placeholder - Users should replace these --}}
{{#if faviconUrl}}
    <link rel="icon" href="{{faviconUrl}}" sizes="any">
    <link rel="apple-touch-icon" href="{{faviconUrl}}">
{{else}}
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
{{/if}}

{{!-- RSS Feed Discovery --}}
{{#if @root.options.isExport}}
    <link rel="alternate" type="application/rss+xml" title="{{manifest.title}}" href="{{@root.options.relativeAssetPath}}rss.xml">
{{else}}
    <link rel="alternate" type="application/rss+xml" title="{{manifest.title}}" href="/rss.xml">
{{/if}}

 {{!-- STYLESHEETS --}}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Gentium+Book+Plus:ital@0;1&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>

{{#if @root.options.isExport}}
    <link rel="stylesheet" href="{{@root.options.relativeAssetPath}}assets/css/styles.css">
    <link rel="stylesheet" href="{{@root.options.relativeAssetPath}}_site/themes/{{manifest.theme.name}}/variables.css">
{{else}}
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/themes/{{manifest.theme.name}}/variables.css">
{{/if}}

{{!-- This is where the user's custom choices are injected as CSS variables --}}
{{{styleOverrides}}}