{{!-- Post Card Partial --}}
<article class="post-card">
  {{#if frontmatter.featured_image}}
    <div class="post-image">
      <a href="{{getUrl this}}">
        {{image frontmatter.featured_image alt=frontmatter.title width=350 height=200 crop="fill"}}
      </a>
      {{#if frontmatter.featured}}
        <span class="featured-badge">Featured</span>
      {{/if}}
    </div>
  {{/if}}
  
  <div class="post-content">
    <header class="post-header">
      {{#if frontmatter.categories}}
        <div class="post-categories">
          {{#each frontmatter.categories}}
            <span class="category">{{this}}</span>
          {{/each}}
        </div>
      {{/if}}
      
      <h2 class="post-title">
        <a href="{{getUrl this}}">{{frontmatter.title}}</a>
      </h2>
    </header>
    
    {{#if frontmatter.excerpt}}
      <p class="post-excerpt">{{frontmatter.excerpt}}</p>
    {{/if}}
    
    <footer class="post-meta">
      <div class="post-date">
        {{#if frontmatter.date}}
          <time datetime="{{frontmatter.date}}">
            {{formatDate frontmatter.date format="MMM d, yyyy"}}
          </time>
        {{/if}}
      </div>
      
      {{#if frontmatter.author}}
        <div class="post-author">
          <span>by {{frontmatter.author}}</span>
        </div>
      {{/if}}
      
      {{#if frontmatter.tags}}
        <div class="post-tags">
          {{#each frontmatter.tags}}
            <span class="tag">#{{this}}</span>
          {{/each}}
        </div>
      {{/if}}
    </footer>
    
    <a href="{{getUrl this}}" class="read-more">Read More</a>
  </div>
</article>